<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power BI Embedded sample</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <main class="row">
        <h1 class="display-6">Reporte Generos</h1>
        <hr />
        <section id="report-container" class="embed-container" style="height:700px">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container m-5">
        </section>
    </main>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/powerbi-client/powerbi.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>